* {
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

:root {
  --header-background: #ffd900;
  --purple-background-and-font: #514988;
  --pink-color-font: #e33881;
  --yellow-color-font: #f3c61f;
}

h1,
h3 {
  text-transform: uppercase;
}

header {
  background-color: var(--header-background);
  padding: 27px 0 28px 58px;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.presentationLeft {
  padding: 31px 60px 92px 64px;
  width: 46%;
  background: var(--purple-background-and-font);
  color: white;
  font-size: 29px;
  font-weight: 400;
  line-height: 35.24px;
  text-align: center;
}

.presentationLeft h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 85.07px;
  color: var(--yellow-color-font);
}

.presentationLeft h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36.46px;
}

#timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#video {
    pointer-events: none;
}

.presentationRight {
  padding: 1rem;
  width: 54%;
  text-align: center;
}

.presentationRight h1 {
  color: var(--purple-background-and-font);
  font-size: 70px;
  font-weight: 700;
  line-height: 85.07px;
}

.presentationRight h3 {
  font-family: Verdana;
  font-size: 30px;
  font-weight: 700;
  line-height: 36.46px;
  color: var(--pink-color-font);
}

.nav {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
}

#titleNav {
  color: var(--yellow-color-font);
  font-size: 27px;
  font-weight: 700;
  line-height: 32.81px;
}

.buyTicket button {
  background-color: var(--purple-background-and-font);
  color: white;
  font-size: 42px;
  font-weight: 700;
  line-height: 51.04px;
  width: 596px;
  height: 148px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
}

.buyTicket button:hover {
    color: var(--yellow-color-font);
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    header {
        padding: 15px;
        text-align: center;
    }

    .presentation {
        flex-direction: column;
        align-items: center;
    }

    .presentationLeft, .presentationRight {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .presentationLeft h1, .presentationRight h1 {
        font-size: 30px;
    }

    .presentationLeft h3, .presentationRight h3 {
        font-size: 20px;
    }

    .presentationLeft span {
        font-size: 18px;
    }

    #timer {
        justify-content: space-around;
        flex-direction: row;
    }
    
    #timer div {
        margin: 5px;
    }


    .nav {
        flex-direction: column;
        align-items: center;
    }

    .schedule {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .schedule img {
        max-width: 100%;
        margin: 5px;
      }

    .schedule, .buyTicket {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .buyTicket button {
        width: 90%;
        font-size: 24px;
        height: 60px;
    }

    #titleNav {
        font-size: 20px;
    }
}